<h1>Sayafayı yenile ve her yenilediğinde konsolu kontrol et</h1>

<h2>Değişiklik görmek istiyorsan program.cs dosyasındaki builder.service.addsingelton'ı addscoped veya addtransiet olarak değiştir ve farkı gör</h2>